@media(min-width:574px) and (max-width:992px){
	.ena{
	margin-left:0px!important;
}
	.position-1{
	    margin-left: 0px!important;
    margin-top: -247px!important;
    margin-right: 310px!important;
}
.position-2 {
    position: absolute;
    top: 182px;
    left: -40.5px;
}
.position-3 {
    position: absolute;
    top: 168px;
    right: 204px;
}
}